<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!Hello Random User!</title>
    <link rel="stylesheet" href="../static/news.css">
</head>
<body>
<main>
    <div class="container">
        <h1 align="center" class="neonText">!Hello!</h1>
        <h2 align="center" class="neonText">all the news from this site will be published here</h2>
    </div>
</main>

<div class="grid-container">
    <!-- Картка 1 -->
    <div class="card-container">
        <input onclick="play()" type="checkbox" id="flip1" class="card-checkbox">
        <div class="card">
            <div class="card-face card-front">
                <h1>!HELLO!</h1>
            </div>
            <div class="card-face card-back">
                <b><p align="center">Hello random user, i write this site myself, if you want to support me, write to me
                    on telegram or discord</p></b>
            </div>
        </div>
        <label for="flip1" class="card-label"></label>
    </div>

    <!-- Картка 2 -->
    <div class="card-container">
        <input onclick="play()" type="checkbox" id="flip2" class="card-checkbox">
        <div class="card">
            <div class="card-face card-front">
                <h1>!ABOUT!</h1>
                <p>This is a About card</p>
            </div>
            <div class="card-face card-back">
                <h1>About</h1>
                <p>This card about About!</p>
            </div>
        </div>
        <label for="flip2" class="card-label"></label>
    </div>

    <!-- Картка 3 -->
    <div class="card-container">
        <input onclick="play()" type="checkbox" id="flip4" class="card-checkbox">
        <div class="card">
            <div class="card-face card-front">
                <h1>Info</h1>
                <p>This card with Info</p>
            </div>
            <div class="card-face card-back">
                <h1>Details</h1>
                <p>Information about Card 3.</p>
            </div>
        </div>
        <label for="flip3" class="card-label"></label>
    </div>

        <div class="card-container">
        <input onclick="play()" type="checkbox" id="flip3" class="card-checkbox">
        <div class="card">
            <div class="card-face card-front">
                <h1>Info</h1>
                <p>This card with Info</p>
            </div>
            <div class="card-face card-back">
                <h1>Details</h1>
                <p>Information about Card 3.</p>
            </div>
        </div>
        <label for="flip3" class="card-label"></label>
    </div>

</div>


</body>
</html>