<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Header Example</title>
    <link rel="stylesheet" href="../static/test.css">
</head>
<body>
<header class="site-header">
    <div class="logo">Your Logo</div>
    <nav class="navigation">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a>
                <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Author</a></li>
                    <li><a href="#">Github</a></li>
                </ul>
            </li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><button id="submitButton" class="enter" type="button" disabled>Enter</button></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Основной контент сайта -->
</main>

<script>
</script>
</body>
</html>